<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid mx-auto">
      <a class="navbar-brand" href="#">RoommateFinder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home">FAQ</a>
          </li>
        </ul>
        <div class="navbar-nav">
            <ul class="navbar-nav">
              <li class="nav-item dropdown position-static">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <mat-icon class="user-icon mr-2">account_circle</mat-icon>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="user">Account</a>
                  <a class="dropdown-item" href="/login">Log out</a>
                </div>
              </li>            
            </ul>
          </div>          
      </div>
    </div>
  </nav>  
<!--------------------------------------------------------------------->
<div class="box-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 mx-auto w-100">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Chat with {{ receiver }}
        </div>
        <div class="card-body">
          <div class="card-body" #chatBody>
            <div *ngFor="let item of messageArray">
              <p class="message-container">{{item?.message ? item.message : item}}</p>
            </div>
          </div>          
        </div>
        <div class="card-footer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type a message" [(ngModel)]="messageText" (keyup)="onKeyUp($event)">
            <button class="btn btn-primary" (click)="sendMessage()">Send</button>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>


  
  
  
  
  