.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0.25rem;
}

.card-body {
  flex-grow: 1;
  overflow-y: auto;
}

.card-footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  z-index: 1;
}

.border-right {
  border-right: 0.5px solid gray;
}

.list-group-item .text-right {
  text-align: right;
}

.list-group-item .text-left {
  text-align: left;
}

.card-footer .input-group {
  position: relative;
}

.card-footer .form-control {
  border-radius: 20px;
}

.card-footer .btn-primary {
  border-radius: 20px;
}
