<div class="aboutus-section m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title text-center">About RoomFinder</h2>
                    <p class="aboutus-text">RoomFinder is the leading online platform for finding the perfect rental space. Our mission is to make the rental process easy and stress-free for renters.</p>
                    <a class="aboutus-more" href="#">Learn More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img class="img-responsive" src="https://plus.unsplash.com/premium_photo-1663090960094-1b3a67d1a3b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Image of Renting" width="280" height="476">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h2>Find Your Ideal Living Space:</h2>
                                <p>At RoomFinder, we make it easy to find the perfect rental. With our extensive database of listings and user-friendly search tools, you can quickly find the living space that meets your needs and budget.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h2>Expert Support and Guidance:</h2>
                                <p>Our team of experienced professionals is dedicated to providing exceptional customer service and support. We're here to help you every step of the way, from finding the right rental to signing the lease.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h2>Streamlined Rental Process:</h2>
                                <p>We know that the rental process can be time-consuming and overwhelming. That's why we've created a platform that streamlines the search process and provides you with all the information you need to make an informed decision.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-section m-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-icon">
                        <span class="glyphicon glyphicon-cog"></span>
                    </div>
                    <h2 class="service-title">24/7 Maintenance Support</h2>
                    <p class="service-text">We understand that maintenance issues can arise at any time. That's why we offer 24/7 support to address any issues that may arise during your tenancy.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-icon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <h2 class="service-title">Tenant Portal</h2>
                    <p class="service-text">Our tenant portal makes it easy to pay rent, submit maintenance requests, and communicate with our team. It's a convenient way to manage your tenancy and stay connected.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-icon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </div>
                    <h2 class="service-title">Competitive Pricing</h2>
                    <p class="service-text">We offer competitive pricing on all of our rental properties, so you can be sure you're getting a fair deal. Our team is dedicated to helping you find a rental that fits your budget.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-icon">
                        <span class="glyphicon glyphicon-education"></span>
                    </div>
                    <h2 class="service-title">Nearby Schools</h2>
                    <p class="service-text">We understand the importance of education and the impact it can have on where you choose to live. That's why we provide information on nearby schools to help you make an informed decision.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-icon">
                        <span class="glyphicon glyphicon-heart"></span>
                    </div>
                    <h2 class="service-title">Community Involvement</h2>
                    <p class="service-text">We believe in giving back to the communities we serve. That's why we're actively involved in local initiatives and events to make a positive impact in the areas where our properties are located.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-icon">
                        <span class="glyphicon glyphicon-phone"></span>
                    </div>
                    <h2 class="service-title">Responsive Customer Service</h2>
                    <p class="service-text">Our team is always available to answer your questions and address your concerns. We pride ourselves on our responsive customer service and strive to exceed your expectations.</p>
                </div>
            </div>
        </div>
    </div>
</div>