<div class="container" style="padding: 1rem;">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <nav class="nav flex-column nav-pills">
        <a class="nav-link" routerLink="/user" routerLinkActive="active" aria-selected="true">
          <mat-icon>account_circle</mat-icon> My Profile
        </a>
        <a class="nav-link" routerLink="/save" routerLinkActive="active" aria-selected="false">
          <mat-icon>sort</mat-icon> Saved List
        </a>
        <a class="nav-link" routerLink="/update" routerLinkActive="active" aria-selected="false">
          <mat-icon>update</mat-icon> Update Info
        </a>
      </nav>   
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="user-profile">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <img src="assets/{{ user.gender }}.jpg" alt="Profile Picture" class="img-fluid" style="border-radius: 20%;"/>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-8 col-12">
            <div class="user-info">
              <h1>{{ user.name }}</h1>
              <h3>Bio: {{ user.bio }}</h3>
              <p>Age: {{ user.age }}</p>
              <p>University: {{ user.university }}</p>
              <p>Major: {{ user.major }}</p>
              <p>Sleep: {{ user.sleep }}</p>
              <p>Guests: {{ user.guests }}</p>
              <p>Smoking: {{ user.smoking }}</p>
              <p>Pets: {{ user.pets }}</p>
              <p>LGBT: {{ user.lgbt }}</p>
              <p>Couples: {{ user.couples }}</p>
              <p>Budget: ${{ user.budget }}</p>
              <p>Move-in Date: {{ user.move_in_date | date: 'longDate' }}</p>
              <p>Minimum Lease Length: {{ user.min_length }} months</p>
              <p>Maximum Lease Length: {{ user.max_length }} months</p>
              <p>Room size: {{ user.size }}</p>
              <p>Furnished: {{ user.furnished }}</p>
              <p>Occupancy: {{ user.occupancy }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

