
<div class="body">
<!-- Display saved users -->
<div *ngIf="savedUsers.length > 0">
  <h1>Saved Users:</h1>
  <div class="row">
    <!-- Loop through saved users -->
    <div *ngFor="let user of savedUsers" class="col-lg-4 mb-4">
      <div class="card">
        <!-- Display user avatar based on gender -->
        <img src="assets/{{ user.gender }}.jpg"
             class="card-img-top"
             alt="Avatar"
             style="width: 100%; height: 200px; object-fit: cover;"
        />
        <!-- Display user info -->
        <div class="card-body text">
          <h5 class="card-title">Name: {{ user.name }}</h5>
          <p class="card-text">{{ user.university }} - {{ user.major }}</p>
          <p class="card-text">{{ user.age }} years old</p>
          <p class="card-text">{{ user.bio }}</p>
          <p class="card-text">Budget: ${{ user.budget }}</p>
          <p class="card-text">Move-in date: {{ user.move_in_date | date:'MMM d, y' }}</p>
          <!-- Add buttons to chat or remove user -->
          <button class="btn btn-primary me-2" (click)="startChat(userInfo, user)">Chat</button>
          <button class="btn btn-danger" (click)="removeUser(user)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

